<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppFolder" value="D:\StockAnalyser"/>
    <add key="StocksTitleDataFileName" value="StockTitles"/>
    <add key="StocksTitleRefreshPeriod" value="10"/>

    <add key="StocksDetailsDataFileName" value="StockDetails"/>
    <add key="StocksDetailsRefreshPeriod" value="1"/>
  </appSettings>
</configuration>